<div class='container'>
  <% @articles.each do |article| %>
    <div class='row card-row'>
      <div class='col-md-2 col-xs-0 col-lg-0'>
      </div>
      <div class='col-md-8 col-xs-12 col-lg-12 card'>
        <p>
          <% article.content.split(/\n/).each do |x| %>
            <%= x %><br/>
          <% end %>
        </p>
        <% if @edit %>
          <%= link_to t('edit'), articles_edit_path(article: { id: article.id }), class: 'pull-right flat-button' %>
        <% end %>
        <br/>
        <%= form_tag comments_create_path(format: :json), remote: true, onsubmit: 'bindAJAX(event)' do %>
          <%= hidden_field_tag 'comment[article_id]', article.id %>
          <%= text_field_tag 'comment[content]', nil, rows: '1', class: 'input' %>
          <br/><br/>
          <%= button_tag 'comment', class: 'pull-right button' %>
        <% end %>
        <% Comment.where(article_id: article.id).each do |comment| %>
          <p>
            <%= User.find(comment.author_id).email + ' answered' %><br/>
            <%= comment.content %>
          </p>
        <% end %>
      </div>
      <div class='col-md-2 col-xs-0 col-lg-0'>
      </div>
    </div>
  <% end %>
</div>