<!DOCTYPE html>
<html>
  <head>
    <title>LadderWork</title>
    <meta name='theme-color' content='#75f5f3'>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='jumbotron'>
      <h1 class='headline'>Ladder Articles Base</h1>
      <% if current_user %>
        <%= link_to 'Leave', destroy_user_session_path, method: 'delete', class: 'pull-right button top-button' %>
        <%= link_to current_user.email + ' home page', articles_index_path, class: 'pull-right button top-button' %>
        <%= link_to 'All Users', users_index_path, class: 'pull-left button top-button' %>
        <%= link_to 'New Article', articles_new_path, class: 'pull-left button top-button' %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
