<!DOCTYPE html>
<html>
  <head>
    <title>LadderWork</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="jumbotron">
      <h1>Ladder Articles Base</h1>
      <%= link_to 'Home Page', articles_index_path %>
      <%= link_to 'All Users', users_index_path %>
      <%= link_to 'New Article', articles_new_path %>
      <%= current_user.email %>
    </div>
    <%= yield %>
  </body>
</html>
